
.ipynb_checkpoints/Week 3 - Segmenting and Clustering Neighbourhoods in Toronto-checkpoint.ipynb
.ipynb_checkpoints/Week3 - Toronto Neighborhood-checkpoint.ipynb
.ipynb_checkpoints/DP0701EN-2-2-1-Foursquare-API-py-v1.0-checkpoint.ipynb
